/* Write your CSS code in this file */


h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  width: 100%;
  margin: 10px;
}

input {
  width: 100%;
  margin: 10px;
  width: 150px;
  height: 150px;
  font-size: 25px;
  text-align: center;
  border-radius: 100%;
  border-bottom-color: blueviolet;
  border-block-end-style: inset;
  border-top-color: darkgray;
  border-right-color: blueviolet;
  border-left-style: inset;
}






#footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  margin-top: 10px;
  height: 100px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.center {
  text-align: center;
}

#img1 {
  width: 300px;
  height: 75px;
  position: absolute;
  left: 10px;
  top: 10px;
}

div h4 {
  margin-top: 40px;
}

#img2 {
  width: 350px;
  height: 85px;
  position: absolute;
  right: 10px;
  top: 10px;
}
